.fade-in-section {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.7s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0.1s;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}
